:root {
    --text-color-main: #000000;

    --button-color-main: #FFFFFF;;
    --button-background-color-main: #756157;
    --button-background-color-optional: #82B3D3;
    --button-background-color-favorite: #7DB54F;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ptsans-400.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/ptsans-700.woff2') format('woff2');
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--text-color-main);
    background: #F2F2F2;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

#root {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    background-clip: content-box;
}

.page-wrapper {
    width: 1200px;
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: min-content 1fr 120px;
    grid-template-areas: "header" "content" "footer";
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.app-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--button-color-main);
    background-color: var(--button-background-color-main);
    text-transform: uppercase;
}

.app-button--large {
    height: 52px;
    font-size: 20px;
    line-height: 36px;
}

.app-button:hover,
.app-button:focus-visible {
    background: #615048;
}

.app-button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #756157;
}

.section-primary-title {
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.section-secondary-title {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.page-header {
    grid-area: header;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 138px;
    height: 64px;
    margin-right: 30px;
}

.header-logo img {
    display: block;
    width: 140px;
    height: 70px;
}

.main-navigation {
    flex-grow: 1;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.main-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.main-navigation-item {
    padding: 20px 16px;
}

.main-navigation-item--current > .main-navigation-link  {
    text-decoration: underline;
    text-decoration-color: #756257;
    text-decoration-thickness: 2px;
    text-underline-offset: 19px;
    text-underline-position: under;
}

.main-navigation-link {
    text-decoration: none;
    color: inherit;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu-icon {
    width: 44px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button {
    border: 0;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
}

.search-button:before {
    width: 18px;
    height: 18px;
    background-image: url('./images/search.svg');
}

.favorite-link {
    display: block;
}

.favorite-link:before {
    width: 18px;
    height: 17px;
    background-image: url('./images/favorite.svg');
}

.favorite-counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 5px;
    position: absolute;
    right: 4px;
    top: 11px;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F;
    text-align: center;
}

.user-menu-open-popup {
    width: 160px;
    padding: 8px 34px;
    margin-left: 20px;
}

.page-content {
    grid-area: content;
    flex-direction: column;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    display: flex;
}

.advantages-slogan-1 {
    margin-bottom: 21px;
    padding: 69px 274px;
}

.advantages-slogan-1 .section-primary-title {
    margin-bottom: 25px;
}

.advantages-slogan-2 {
    padding: 64px 347px;
}

.advantage-description {
    width: 400px;
    height: 385px;
    padding: 0 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage-title {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.advantage-slogan-wrapper {
    text-align: center;
}

.advantage-slogan-wrapper:before {
    content: '';
    margin-left: 85px;
    margin-bottom: 30px;
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantage-slogan {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.advantage-image {
    width: 800px;
    height: 385px;
}

.advantage-icon {
    order: -1;
    margin-bottom: 30px;
}

.advantage-image > img,
.advantage-icon > img{
    display: block;
    max-width: 100%;
    height: auto;
}

.hotel-search {
    padding: 96px 304px;
}

.hotel-search-open-popup {
    margin: 54px 108px 0;
    padding: 8px 50px;
}

.page-footer {
    grid-area: footer;
    padding: 0 70px;
    display: flex;
    width: 1200px;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.social {
    width: 141px;
    height: 40px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social__item {
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link {
    display: block;
}

.social__link:before,
.search-button:before,
.favorite-link:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.social__link--vkontakte:before {
    width: 24px;
    height: 14px;
    background-image: url('./images/social-vk.svg');
}

.social__link--telegram:before {
    width: 18px;
    height: 16px;
    background-image: url('./images/social-telegram.svg');
}

.social__link--youtube:before {
    width: 22px;
    height: 17px;
    background-image: url('./images/social-youtube.svg');
}

.phone {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.developer-image {
    display: block;
}




